<!DOCTYPE html>
<html>
<head>
<title></title>
<meta charset="utf-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
	integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
	crossorigin="anonymous">


<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="../session12/app.js"></script>

</head>
<body ng-app="app">
<input type="checkbox" ng-model="check2"> an salary
 <div ng-controller="filterDemoCtrl">
		<table class="table">
			<tr>
				<td ng-click="sortData('name')">Name</td>
				<td>Date of Birth</td>
				<td ng-click="sortData('salary')">Salary</td>
				<td>Gender</td>
				<td>Status</td>
			</tr>
			<!--  true la giam dan <tr ng-repeat="employee in employees | orderBy : 'name':true"> -->
			<tr ng-repeat="employee in employees | orderBy:sortColumn:reverse"> 
				<td>{{employee.name | uppercase}}</td>
				<td>{{employee.birthDate | date:"dd/MM/yyyy"}}</td>
				<td>
				    <div ng-hide="check2"> {{employee.salary | currency}} </div>
				   <div ng-show="check2"> xxxxx </div> 
				
				</td>
				<td>{{employee.gender | lowercase}}</td>
				<td>{{employee.status | status22}}</td>
			</tr>
		</table>
	</div>
</body>
</html>
